

.col-lg-1{
    margin:0;
    padding:0;
}
.col-md-1{
    margin:0;
    padding:0;
}
.col-sm-1{
    margin:0;
    padding:0;
}
.col-xs-1{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-2{
    margin:0;
    padding:0;
}
.col-md-2{
    margin:0;
    padding:0;
}
.col-sm-2{
    margin:0;
    padding:0;
}
.col-xs-2{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-3{
    margin:0;
    padding:0;
}
.col-md-3{
    margin:0;
    padding:0;
}
.col-sm-3{
    margin:0;
    padding:0;
}
.col-xs-3{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-4{
    margin:0;
    padding:0;
}
.col-md-4{
    margin:0;
    padding:0;
}
.col-sm-4{
    margin:0;
    padding:0;
}
.col-xs-4{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-5{
    margin:0;
    padding:0;
}
.col-md-5{
    margin:0;
    padding:0;
}
.col-sm-5{
    margin:0;
    padding:0;
}
.col-xs-5{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-6{
    margin:0;
    padding:0;
}
.col-md-6{
    margin:0;
    padding:0;
}
.col-sm-6{
    margin:0;
    padding:0;
}
.col-xs-6{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-7{
    margin:0;
    padding:0;
}
.col-md-7{
    margin:0;
    padding:0;
}
.col-sm-7{
    margin:0;
    padding:0;
}
.col-xs-7{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-8{
    margin:0;
    padding:0;
}
.col-md-8{
    margin:0;
    padding:0;
}
.col-sm-8{
    margin:0;
    padding:0;
}
.col-xs-8{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-9{
    margin:0;
    padding:0;
}
.col-md-9{
    margin:0;
    padding:0;
}
.col-sm-9{
    margin:0;
    padding:0;
}
.col-xs-9{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-10{
    margin:0;
    padding:0;
}
.col-md-10{
    margin:0;
    padding:0;
}
.col-sm-10{
    margin:0;
    padding:0;
}
.col-xs-10{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-11{
    margin:0;
    padding:0;
}
.col-md-11{
    margin:0;
    padding:0;
}
.col-sm-11{
    margin:0;
    padding:0;
}
.col-xs-11{
    margin:0;
    padding:0;
}

/* --------------------------------------------------- */
.col-lg-12{
    margin:0;
    padding:0;
}
.col-md-12{
    margin:0;
    padding:0;
}
.col-sm-12{
    margin:0;
    padding:0;
}
.col-xs-12{
    margin:0;
    padding:0;
}

body{
    font-family: 'QuickSand';
}