.title-page{
    font-family: "Arvo";
    text-align: center;
    margin-bottom: 25px;
}

.p-contact{
    text-align: left;
}
textarea{
    overflow:auto;
    resize:none;
}
.logo{
    margin-left:100px;
}

#info{

    background-color: whitesmoke;
}
.navi{
    list-style-type: none;
    padding: 30px 30px;
    background-color: whitesmoke;
}
.navi>li:first-child{
    font-family: Arvo;
    margin-bottom: 5px;
    font-size: 20px;
}
.navi>li>a{
    color:black !important;
}
.account-info-general>div>ul{
    list-style-type: none;
    padding: 30px 30px;

}
.account-info-general{
    background-color: whitesmoke;
    margin-left: 15px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 7px;
}

hr{
    border-color: #3B3B3B;
    margin: 5px 0;
    opacity: 0.3;
}
.account-info-general>div>ul>li:first-child{
    font-family: Arvo;
    margin-bottom: 5px;
    font-size: 20px;
}

.account-info-general>div>ul>li>a{
    color:black !important;
}
.title-info{
    font-family: Quicksand;
    font-size: 20px;
}
